<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.usman.pgbuild2"
  
        version   = "2.9.0">

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap</name>

    <description>
		My Phone Gap APP</description>

    <author href="http://innostark.com" email="usman@innostark.com">
		Syed Usman
    </author>
      <feature name="Device">
        <param name="android-package" value="org.apache.cordova.Device"/>
      </feature>
      <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.Notification"/>
      </feature>
    <preference name="phonegap-version" value="2.9.0" />
    <!--<preference name="webviewbounce" value="false" />--><!--
			
    <icon src="img/icon.png" />
    <gap:splash src="img/splash.png" />-->

</widget>